<form
  [formGroup]="form"
  (ngSubmit)="handleSubmission()"
  [class.submitted]="isSubmitted"
>
  <div>
    <div>First Name:</div>
    <div>
      <input type="text" formControlName="firstName" />
    </div>
    <div
      *ngIf="
        form.controls['firstName'] &&
        form.controls['firstName'].errors &&
        form.controls['firstName'].dirty &&
        isSubmitted
      "
    >
      <div *ngIf="form.controls['firstName'].errors['required']">
        First Name is required
      </div>
      <div *ngIf="form.controls['firstName'].errors['minlength']">
        First Name min length is 3
      </div>
      <div *ngIf="form.controls['firstName'].errors['maxlength']">
        First Name max length is 10
      </div>
      <div *ngIf="form.controls['firstName'].errors['isUnsafe']">
        {{ form.controls["firstName"].errors["isUnsafe"] }} this word is not a
        safe word, please use different word
      </div>
    </div>
  </div>
  <div>
    <div>Last Name:</div>
    <div>
      <input type="text" formControlName="lastName" />
    </div>
    <div
      *ngIf="
        form.controls['lastName'] &&
        form.controls['lastName'].errors &&
        form.controls['lastName'].dirty
      "
    >
      <div *ngIf="form.controls['lastName'].errors['required']">
        Last Name is required
      </div>
    </div>
  </div>
  <div>
    <div>Age:</div>
    <div>
      <input type="number" formControlName="age" />
    </div>
    <div
      *ngIf="
        form.controls['age'] &&
        form.controls['age'].errors &&
        form.controls['age'].dirty
      "
    >
      <div *ngIf="form.controls['age'].errors['required']">Age is required</div>
      <div *ngIf="form.controls['age'].errors['min']">Min age is 18</div>
      <div *ngIf="form.controls['age'].errors['max']">Max age is 88</div>
    </div>
  </div>
  <div>
    <div>Email:</div>
    <div>
      <input
        type="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        formControlName="email"
      />
      <div
        *ngIf="
          form.controls['email'] &&
          form.controls['email'].errors &&
          form.controls['email'].dirty
        "
      >
        <div *ngIf="form.controls['email'].errors['required']">
          Email is required
        </div>
      </div>
    </div>
  </div>
  <div>
    <div>Hobbies:</div>
    <div formArrayName="hobbies">
      <!-- <textarea formControlName="hobbies"></textarea> -->
      <div
        *ngFor="
          let hobbyControl of form.controls.hobbies?.controls;
          let i = index
        "
      >
        <select [formControl]="hobbyControl">
          <option [value]="null" hidden>Select Hobby</option>
          <option *ngFor="let hobby of hobbies" [value]="hobby">
            {{ hobby }}
          </option>
        </select>
        <button
          (click)="removeHobbyControl(i)"
          [disabled]="removeButtonDisabled"
        >
          X
        </button>
      </div>
      <button
        type="button"
        (click)="addHobbyControl()"
        [disabled]="plusButtonDisabled"
      >
        Add Hobby
      </button>
    </div>
  </div>
  <div>
    <div>Occupation:</div>
    <div>
      <select formControlName="occupation">
        <option [value]="" selected hidden>Select</option>
        <option [value]="occupation.Developer">
          {{ occupation.Developer }}
        </option>
        <option [value]="occupation.Manager">{{ occupation.Manager }}</option>
        <option [value]="occupation.Tester">{{ occupation.Tester }}</option>
      </select>
    </div>

    <div *ngIf="form.controls['developerOf']">
      <div>Developer Of:</div>
      <div>
        <input type="text" formControlName="developerOf" />
      </div>
    </div>

    <div *ngIf="form.controls['managerOf']">
      <div>Manager Of:</div>
      <div>
        <input type="text" formControlName="managerOf" />
      </div>
    </div>

    <div>Gender</div>
    <div>
      <input
        type="radio"
        [value]="gender.Male"
        name="gender"
        formControlName="gender"
      />
      <label for="male">Male</label>
    </div>
    <div>
      <input
        type="radio"
        [value]="gender.Female"
        name="gender"
        formControlName="gender"
      />
      <label for="female">Female</label>
    </div>
  </div>
  <button type="submit">Register</button>
</form>
